/__pycache__/
/mdapy/__pycache__/
/doc/build/
/.vscode/
/mdapy.egg-info/
/mdapy/mdapy.egg-info/
/build/
/dist/
/mdapy/cluster/*.py*
/mdapy/cluster/*.so
/mdapy/polygon/*.py*
/mdapy/polygon/*.sh
/mdapy/polygon/*.so
/mdapy/voronoi/*.py*
/mdapy/voronoi/*.so
