/__pycache__/
/mdapy/__pycache__/
/doc/build/
/.vscode/
/.vs/
/mdapy.egg-info/
/mdapy/mdapy.egg-info/
/build/
/dist/
/mdapy/cluster/*.py*
/mdapy/cluster/*.so
/mdapy/polygon/*.py*
/mdapy/polygon/*.sh
/mdapy/polygon/*.so
/mdapy/voronoi/*.py*
/mdapy/voronoi/*.so
/mdapy/ptm/*.so
/mdapy/ptm/*.py*
/mdapy/ptm/*.sh
/mdapy/rdf/*.so
/mdapy/rdf/*.py*
/mdapy/rdf/*.sh
/mdapy/neigh/*.so
/mdapy/neigh/*.py*
/mdapy/neigh/*.sh
/.VSCodeCounter/
/benchmark/*/*.png 
/benchmark/*/*.txt
/benchmark/average_rdf/*.dump
/doc/source/gettingstarted/.ipy*/
/example/*.output.dump
