/.vscode
/.conda_envs
/.claude
/build
/test.py
/*.xyz
/tests/__py*
/src/mdapy/__py*
/extern/nanobind
/doc/_build
/doc/get*/.*
*pyc
/dist/*
/*.png
/doc/_esbonio
/bench*
/.VS*
/compare*
/md_elas*
/qha*
