name: Publish to PyPI

on:
  # tag like v1.0.0a1, v1.0.0
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0  
    
    - name: Build wheels
      uses: pypa/cibuildwheel@v2.22
      env:
        CIBW_BUILD: 'cp39-* cp310-* cp311-* cp312-* cp313-* cp314-*'
        
        # skip PyPy, musllinux, 32bit
        CIBW_SKIP: pp* *-musllinux_* *-manylinux_i686
        
        # macOS 
        CIBW_BEFORE_BUILD_MACOS: brew install libomp
        MACOSX_DEPLOYMENT_TARGET: 14.0
        CIBW_ARCHS_MACOS: arm64
        # macOS repair wheel, libomp
        CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
          delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}
        
        # Linux - only x86_64, remove aarch64
        CIBW_ARCHS_LINUX: auto
        # Linux repair wheel,use auditwheel
        CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
          auditwheel repair -w {dest_dir} {wheel}
        
        # Windows 
        CIBW_BEFORE_BUILD_WINDOWS: "pip install delvewheel"
        # Windows repair wheel, OpenMP DLL
        CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: >
          delvewheel repair -w {dest_dir} {wheel}
    
    - uses: actions/upload-artifact@v4
      with:
        name: wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install build
      run: python -m pip install build
    
    - name: Build sdist
      run: python -m build --sdist
    
    - uses: actions/upload-artifact@v4
      with:
        name: sdist
        path: dist/*.tar.gz

  publish_to_pypi:
    name: Publish to PyPI
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/mdapy
    permissions:
      id-token: write  # PyPI trusted publishing
    
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist
        merge-multiple: true
    
    - name: List distributions
      run: ls -lh dist/
    
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true
        verbose: true